%h1 Listing movies

%table
  %tr
    %th Title
    %th Rated
    %th Runtime
    %th Summary
    %th
    %th
    %th

  - @movies.each do |movie|
    %tr
      %td= movie.title
      %td= movie.rated
      %td= movie.runtime
      %td= movie.summary
      %td= link_to 'Show', movie
      %td= link_to 'Edit', edit_movie_path(movie)
      %td= link_to 'Destroy', movie, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Movie', new_movie_path
